@import "./fonts.css";
@import "./TaskList.css";
@import "./Task.css";
@import "./TakeABreak.css";

:root {
  --text-secondary: rgba(0, 0, 0, 0.65);
  --text-tertiary: rgba(0, 0, 0, 0.5);
  --sunday-morning-gradient: linear-gradient(349.16deg, rgba(82, 167, 193, 0) 4.4%, rgba(179, 246, 216, 0.74) 94.98%), #52A7C1;
  --light-blue-gradient: linear-gradient(349.16deg, rgba(194, 231, 242, 0) 4.4%, rgba(252, 254, 255, 0.74) 94.98%), #F5FCFF;
}

html {
  background: var(--light-blue-gradient);
  height: 100%;
  width: 100%;
}

article {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.user-list {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}

.user-list button {
  margin: 10px 0;
}

.enter-user form > element {
  margin: 10px 0;
}


.header {
  position: relative;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  background-image: url("../assets/HeaderWaves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin: 0;
}

.header::before {
  content: ""; 
  position: absolute;
}

.aalto-logo {
  display: flex;
  flex-direction: row;
}

.aalto-logo img {
  align-self: baseline;
}

.aalto-logo .essentials {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
}

.header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.header .navigation span {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.311111px;
  color: #FFFFFF;
}

.header .navigation span:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.welcome-view {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--light-blue-gradient);
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}