h1,
h2,
h3,
h4,
body {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.3111112117767334px;
  text-align: left;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.311111px;
  }

span.caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  color: #76D7D2;
}