.take-a-break {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--light-blue-gradient);
}

.take-a-break .container {
  width: 90%;
  flex-direction: row;
}

.practice-category {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.practices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.practice-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px;
  position: static;
  max-width: 304px;
  max-height: 439px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 21px 21px 21px 0;
}

.practice-card > * {
  margin: 12px 0px;
}

.play-practice-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 8px 0px 0px 40px; */

  position: static;
  width: 100%;
  height: 40px;
  /* left: 0px; */
  /* top: 146px; */

  background: var(--sunday-morning-gradient);
  border-radius: 32px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;

}